* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(4, 0, 54);
}

body {
  font-family: Arial, sans-serif;
}



nav {
  width: 250px;
  height: 30vh;
  
  padding-top: 60px;
}

&.min {
  width: 60px;

  span {
    opacity: 0;
  }
}

ul {
  color: green;

  a {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: lime;
  }
}


h1 {
    text-align: center;
    color: rgb(177, 0, 231)
}

#opening {
    text-align: center;
    color:rgb(5, 119, 250)
}

#type {
    text-align: center;
    color:rgb(13, 238, 6);
    text-decoration: none;
}

#listing {
    margin-top: 80px;
    text-align: left;
    color:rgb(250, 246, 7)
}

#price {
    text-align: left;
    color: orange
}

#description{
    font-style: italic;
    text-align: left;
    color:rgb(252, 0, 138)
}

#club {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 400;
}

#melt {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 200;
}

#firewall {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#caprese {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 200;
}

#chicken {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#minestrone {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#chili {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#chowder {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#json {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#potato {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#cookie {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#brownie {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#pie {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#macarons {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#scones {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#dark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#cold {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#espresso {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#latte {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#flat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

