* {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: rgb(2, 2, 65);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(177, 0, 231)
}

#opening {
    text-align: center;
    color:rgb(5, 119, 250)
}

#type {
    text-align: center;
    color:rgb(13, 238, 6);
    text-decoration: none;
}

#listing {
    margin-top: 80px;
    text-align: left;
    color:rgb(250, 246, 7)
}

#price {
    text-align: left;
    color: orange
}

#description{
    font-style: italic;
    text-align: left;
    color:rgb(252, 0, 138)
}

#club {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 400;
}

#melt {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 200;
}

#firewall {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#caprese {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 200;
}

#chicken {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#minestrone {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#chili {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#chowder {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#json {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#potato {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#cookie {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#brownie {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#pie {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#macarons {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#scones {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#dark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#cold {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#espresso {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#latte {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#flat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 300;
}

#sidenav {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(79, 255, 35);
    color: white;
    text-decoration: none;
}